<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>管理日志</title>
  <link href="/admin/skin/default/style.css" rel="stylesheet">
  <link href="/admin/skin/pagination.css" rel="stylesheet" type="text/css" />
  <link href="/admin/scripts/artdialog/ui-dialog.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="/admin/scripts/base.js"></script>
  <script src="/admin/scripts/common.js"></script>
  <script src="/admin/scripts/artdialog/dialog-plus-min.js"></script>
  <script src="/admin/scripts/jquery/jquery.pagination.js"></script>
</head>
<body class="mainbody">
  <div class="location">
    <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
    <a href="/admin/center" class="home"><i></i><span>首页</span></a>
    <i class="arrow"></i>
    <span>管理日志</span>
  </div>
  <div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
      <div class="box-wrap">
        <a class="menu-btn"></a>
        <div class="l-list">
          <ul class="icon-list">
            <li><a class="del" href="del" id="btnDelete"><i></i><span>删除</span></a></li>
          </ul>
        </div>
        <div class="r-list">
          <input name="txtkeyword" type="text" id="txtkeyword" class="keyword">
          <a class="btn-search" href="#" id="btnSearch">查询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" id="datalist">
      <tr>
        <th width="15%">用户名</th>
        <th align="left" width="25%">操作类型</th>
        <th align="left">备注</th>
        <th align="left" width="15%">IP</th>
        <th align="left" width="15%">时间</th>
      </tr>      
    </table>
  </div>
  <div class="line20"></div>
  <div class="pagelist">
    <div class="l-btns">
      <span>显示</span>
      <input id="txtPageNum" name="txtPageNum" type="text" value="10" class="pagenum">
      <span>条/页</span>
    </div>
    <div id="pagination" class="default"></div>
  </div>
  <script>
    var pageSize = getCookie('xl_back_ps') || 10;
    var pageNo = 0; 
    $(function() {
      function getDataList(curPage){
        var url = 'list?pageNo=' + curPage + '&pageSize=' + pageSize, b = false;
        if (arguments.length > 1 && arguments[1].length > 0) url += '&keyword=' + escape(arguments[1]), b = true; 
        $.post(url, function(data) {
          var o = $('#datalist'), o2 = $("#pagination"), c = data.map.count;
          o.find('tr').filter(':gt(0)').remove();
            if (c) {
            var s = '', rows = data.list;
            for (var i in rows) {
              s += '<tr><td align="center"><a href="javascript:;">' + rows[i].userName + '</a></td><td><a href="javascript:;">' + rows[i].actionType + '</a></td><td>' + rows[i].remark + '</td><td>' + rows[i].ip + '</td><td>' + rows[i].createTime + '</td></tr>';
            };
            o.append(s);
            if (o2.html().length == '' || b) {
              o2.pagination(c, {
                items_per_page: pageSize,
                callback: function(pageNo) {
                  getDataList(pageNo);
                }
              });
            }
          } else {
            o.append('<tr><td align="center" colspan="5">暂无记录</td></tr>');
            o2.empty();
          }
        }, 'json');
      }      
      $('#txtPageNum').val(pageSize).keypress(function(e) {
        if ((window.event ? e.keyCode : e.which) == 13) {
          addCookie("xl_back_ps", $(this).val(), 240);
          xl.refresh();
        }
      });
      $('#btnDelete').click(function() {
        if (confirm('你确定要删除7天前的日志吗？')) {
          $.post($(this).attr('href'), function(x) { xl.callback(x); }, 'json');
        }
        return false;
      });
      $('#btnSearch').click(function() {
        var kw = $('#txtkeyword').val();
        getDataList(pageNo, kw);
      });
      getDataList(pageNo);
    });
  </script>
</body>
</html>
