<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>场景审核</title>
  <link href="/admin/skin/default/style.css" rel="stylesheet">
  <link href="/admin/skin/pagination.css" rel="stylesheet" type="text/css" />
  <link href="/admin/scripts/artdialog/ui-dialog.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="/admin/scripts/base.js"></script>
  <script src="/admin/scripts/common.js"></script>
  <script src="/admin/scripts/artdialog/dialog-plus-min.js"></script>
  <script src="/admin/scripts/jquery/jquery.pagination.js"></script>
</head>
<body class="mainbody">
  <div class="location">
    <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
    <a href="/admin/center" class="home"><i></i><span>首页</span></a>
    <i class="arrow"></i>
    <span>场景管理</span>
    <i class="arrow"></i>
    <span>场景审核</span>
  </div>
  <div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
      <div class="box-wrap">
        <a class="menu-btn"></a>
        <div class="l-list">
          <ul class="icon-list">
            <li><a class="all" href="#" onclick="checkAll(this);"><i></i><span>全选</span></a></li>
            <li><a class="elite" href="setpromotion" id="btnSetPromotion"><i></i><span>推荐</span></a></li>
            <li><a class="pic" href="settpl" id="btnSetTpl"><i></i><span>设为模板</span></a></li>
          </ul>
          <div class="menu-list">
            <div class="rule-single-select">
              <select name="batchMove" id="batchMove">
                <option value="" selected>- 批量移动 -</option><% 
                for (var i=0; i<tagData.length; i++) {
                  if (tagData[i].type == 'scene_type') {
                    %><option value="<%=tagData[i].id %>" data-level="1"><%=tagData[i].name %></option><% 
                    for (var j=0; j<tagData.length; j++) {
                      if (tagData[j].value == tagData[i].value && tagData[j].type != 'scene_type') {
                        %><option value="<%=tagData[j].id %>"> └ <%=tagData[j].name %></option><%
                      }
                    }
                  }
                }
              %></select>
            </div>
          </div>
        </div>
        <div class="r-list">
          <input name="txtkeyword" type="text" id="txtkeyword" class="keyword">
          <a class="btn-search" href="#" id="btnSearch">查询</a>
        </div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" id="datalist">
      <tr>
        <th width="6%">选择</th>
        <th align="left" colspan="2">场景名称</th>
        <th align="left" width="12%">场景类型</th>
        <th align="left" width="12%">翻页方式</th>
        <th align="left" width="12%">所属类别</th>
        <th width="8%">状态</th>
      </tr>
    </table>
  </div>
  <div class="line20"></div>
  <div class="pagelist">
    <div class="l-btns">
      <span>显示</span>
      <input id="txtPageNum" name="txtPageNum" type="text" class="pagenum">
      <span>条/页</span>
    </div>
    <div id="pagination" class="default"></div>
  </div>
  <script>
    var pageSize = getCookie('xl_back_ps') || 8;
    var pageNo = 0; 
    $(function() {
      function getDataList(curPage){
        var url = 'audit_list?pageNo=' + curPage + '&pageSize=' + pageSize, o, o2, c, s, i, rows, b = false;
        if (arguments.length > 1 && arguments[1].length > 0) url += '&keyword=' + escape(arguments[1]), b = true; 
        $.post(url, function(data) {
          o = $('#datalist'), o2 = $("#pagination"), c = data.map.count;
          o.find('tr').filter(':gt(0)').remove();
          if (c) {
            s = '', rows = data.list;
            for (i = 0; i < rows.length; i++) {
              s += '<tr><td align="center"><span class="checkall" style="vertical-align:middle;"><input type="checkbox" name="id" value="' + rows[i].id + '" /></span></td><td width="55"><img width="50" height="50" src="/' + rows[i].imgSrc + '"></td><td><div class="user-box" style="padding-left:0;"><h4><b><a href="/view/' + rows[i].code + '" target="_blank">' + rows[i].name + '</a></b></h4><i>创建时间：' + rows[i].createTime + '</i></div></td><td>' + rows[i].type + '</td><td>' + rows[i].pageMode + '</td><td>' + rows[i].bizType + '</td><td align="center">' + rows[i].status + '</td></tr>';
            };
            o.append(s);
            if (o2.html().length == '' || b) {
              o2.pagination(c, {
                items_per_page: pageSize,
                callback: function(pageNo) {
                  getDataList(pageNo);
                }
              });
            }
          } else {
            o.append('<tr><td align="center" colspan="8">暂无场景</td></tr>');
            o2.empty();
          }
        }, 'json');
      }      
      $('#txtPageNum').val(pageSize).keypress(function(e) {
        if ((window.event ? e.keyCode : e.which) == 13) {
          addCookie("xl_back_ps", $(this).val(), 240);
          xl.refresh();
        }
      });
      $('#btnSetPromotion, #btnSetTpl').click(function() {
        if (confirm('你确定要执行此项操作吗？')) {
          var ids = xl.getIds();
          if (ids) $.post($(this).attr('href') + '?id=' + ids, function(x) { xl.callback(x); }, 'json');
        }
        return false;
      });
      $('#batchMove').change(function(){
        var typeId = $(this).val();
        if (typeId) {
          if ($(this).find('option[value="' + typeId + '"]').data('level')) {
            xl.showTip('不能选择父类！');
            return false;
          }
          if (confirm('你确定要执行此项操作吗？')) {
            var ids = xl.getIds();
            if (ids) $.post('move?id=' + ids + '&bizType=' + typeId, function(x) { xl.callback(x); }, 'json');
          }
        }
      });
      $('#btnSearch').click(function() {
        var kw = $('#txtkeyword').val();
        getDataList(pageNo, kw);
      });
      getDataList(pageNo);
    });
  </script>
</body>
</html>
